.dash-wrapper {
	@include media-breakpoint-up(lg) {
		display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
	}
}

.middle-wrap {
	@include media-breakpoint-up(lg) {
		max-width: 800px;
        margin-left: auto;
        margin-right: auto;
	}
}

.dash-main-content {
	background-color: #fff;
	
	@include media-breakpoint-up(lg) {
	    -webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	    flex-grow: 1;
	    padding-left: $nav-width;
	    // padding-top: 96px;
	    -webkit-transition: all .25s;
	    -o-transition: all .25s;
	    transition: all .25s;	
	}
	&.menu-active {
    	padding-left: 90px;
    	.middle-sidebar-header.sticky-header {left: 90px;}
    }
    @include media-breakpoint-down(md) {
    	order:1;
    	position: relative;
	    height: 100vh;
	    overflow-x: hidden;
	    overflow-y: auto;
	    // background-color: #f1f7fe;
	    

    }
    .left-sidebar,.right-sidebar {
    	@include webkit-box();
	    @include box-orient();

	    .left-sidebar-content {
		    background: var(--theme-color-shade);
		    overflow: hidden;
		    width: $left-sidebar-width;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: column;
		    -moz-box-orient: vertical;
		    -moz-box-direction: normal;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-box-flex: 1;
		    -webkit-flex: 1;
		    -moz-box-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		    padding: 0px 10px 10px 10px;
		    .left-sidebar-header {
		    	@include webkit-box();
			    -webkit-box-pack: justify;
			    -webkit-justify-content: space-between;
			    -moz-box-pack: justify;
			    -ms-flex-pack: justify;
			    justify-content: space-between;
			    padding: 13px 15px 0 15px;
			    background: var(--theme-color-shade);
			    @include media-breakpoint-down(sm) {padding: 20px 20px 0 20px;}
		    }
		    .left-sidebar-bottom {
		    	background: var(--theme-color-shade);
			    overflow: hidden;
			    width: 100%;
			    @include webkit-box();
			    @include box-orient();
			    @include box-flex();
			    padding: 20px 15px 15px 15px;
			    @include media-breakpoint-down(xl) {width: 400px;}
			    @include media-breakpoint-down(md) {width: 100%;}	
			    @include media-breakpoint-down(sm) {padding: 0 20px 0 20px;}

			    .panel {
			    	.panel-title a i {position: relative; top:3px;}
			    	.panel-body ul {
			    		padding-left: 31px;
			    		li a {font-size: 12px; }
			    	}
			    }
			}
		}
	}
	
    .middle-sidebar-header {
    	top: 0;
	    left: $nav-width;
	    right: 0;
	    z-index: 10;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    height: $right-sidebar-header-height;
	    padding: 0 15px;
	    background: #fff;
	    border-bottom: 2px #eee solid;
	    -webkit-transition: left .25s;
	    -o-transition: left .25s;
	    transition: left .25s;
	    
	    @include media-breakpoint-down(md) {
	    	padding: 10px 15px 10px 15px;
	    	height: auto;
		    position: fixed;
		    top: env(safe-area-inset-top);
		    left: 0;
		    right: 0;
		    z-index: 999;
		    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03) !important;
	    }
	    .header-search {
	    	background: #f9f9f9;
	    	border-radius: 10px;
	    	position: relative;
	    	width: 400px;
	    	@include media-breakpoint-down(xl) {width: 250px;}
	    	i {
	    		position: absolute;
	    		font-size: 18px;
	    		left:20px;
	    		top:50%;
	    		margin-top: -9px;
	    	}
	    	.form-control::-webkit-input-placeholder {color: $gray-700 !important;}
			.form-control::-moz-placeholder {color: $gray-700 !important;}
			.form-control:-ms-input-placeholder {color: $gray-700 !important;}
			.form-control:-moz-placeholder {color: $gray-700 !important;}
	    }

	    .header-menu {
	    	display: none;
	    	border:0; 
	    	background-color:transparent;
	    	flex-shrink: 0;
		    width: 32px;
		    height: 38px;
		    margin-right: 20px;
		    font-size: 0;
		    &:focus {outline: none;}
	    	&:before {
	    		content: "";
	    		display: inline-block;
			    width: 32px;
			    height: 2px;
			    margin: 3px auto;
			    border-radius: 1px;
			    background: #1B1D21;
			    -webkit-transition: all .25s;
			    -o-transition: all .25s;
			    transition: all .25s;
	    	}
	    	&:after {
	    		content: "";
			    display: inline-block;
			    width: 32px;
			    height: 2px;
			    margin: 3px auto;
			    border-radius: 1px;
			    background: #1B1D21;
			    -webkit-transition: all .25s;
			    -o-transition: all .25s;
			    transition: all .25s;
	    	}
	    	&.active {
			
				&:before {
					transform: translateY(4px) rotate(45deg);
				}
				&:after {
					transform: translateY(-4px) rotate(-45deg); 
				}
			}
	    	@include media-breakpoint-down(lg) {
	    		display: inline-block;

	    	}
	    }
	    .header-search {
	    	@include media-breakpoint-down(lg) {display: none;}
	    	.form-group.icon-input i {top:10px; }
	    }
	    .right-menu-icon {
	    	@include media-breakpoint-down(lg) {margin-left: auto;}
	    	li {
	    		margin-left: 15px;
	    		a {
	    			display: inline-block;
	    			position: relative;
	    			line-height: 34px;
	    			i {
	    				line-height: 48px;
	    			}
	    			.dot-count {
					    position: absolute;
					    top: 6px;
					    right: -3px;
					    border-radius: 5px;
					    width: 7px;
					    height: 7px;
					    line-height: 15px;
					    text-align: center;
					    display: inline-block;
					    font-size: 10px;
					}
					&:hover .menu-dropdown {
				        visibility: visible;
				        opacity: 1;
					}

					.menu-dropdown {
					    visibility: hidden;
					    opacity: 0;
					    background-color: #fff;
					    width: $dropdown-menu-width;
					    padding: 25px 30px;
					    box-shadow: 0px 15px 125px rgb(0 0 0 / 22%);
					    border-radius: 6px;
					    z-index: 999;
					    border:0;
					    position: absolute;
					    top:120%;
					    right: -5px;
					    text-align: left;
					    transition: all 0.4s ease;
					    
					    &:after {
					        content: '';
					        width: 0;
					        height: 0;
					        border-style: solid;
					        border-width: 0 10px 15px 10px;
					        border-color: transparent transparent #fff transparent;
					        position: absolute;
					        top:-10px; 
					        right:10px; 
					        display: inline-block;
					    }
					}
	    		}
	    		@include media-breakpoint-down(lg) {display: none;}
	    		&:last-child {
	    			display: none;
	    			@include media-breakpoint-down(lg) {display: inline-block;}
	    		}
	    	}
	    }
    }
    .middle-sidebar-bottom {
	    // overflow: scroll;
	    padding-left:15px;
	    padding-right: 15px; 
	    width: 100%;
	    
	    @include media-breakpoint-up(lg) {
	    	@include webkit-box();
		    @include box-flex();
		}
	    
	    
	    @include media-breakpoint-down(md) {width: 100%;padding: 76px 15px 15px; }	
	    @include media-breakpoint-down(sm) {}

	    .middle-sidebar-left,.middle-sidebar-right {
	    	

	    }
	    .middle-sidebar-left {
	    	width: 100%;
	    	padding-top: 25px;
	    	@include media-breakpoint-up(xxl) {
	    		width: calc(100% - 280px);
	    	}
	    	@include media-breakpoint-up(xl) {
	    		padding-right: 0;
			    margin-right: auto;
			    margin-left: auto;
			    max-width: 920px;	
	    	}
	    }
	    .middle-sidebar-right {
	    	z-index: 2;
	    	overflow-x: hidden;
			border-left: 2px #eee solid;
	    	@include media-breakpoint-down(xxxl) {
		    	position: fixed;
			    top: 0;
			    right:-350px ;
			    z-index: 2;
			    padding:15px;
			    height: calc(100vh);
			    -webkit-backdrop-filter: blur(20px);
			    backdrop-filter: blur(20px);
			    background-color: rgba(255, 255, 255, 0.7);
			    

			    &.active-sidebar {
			    	right:0px ;
			    	// width: 100%;
			    }
			}
	    	
		    .middle-sidebar-right-content {
			    padding: 0 2px 0 0; 
			    width: 320px;
			    @include webkit-box();
			    @include box-orient();
			    @include box-flex();
			    margin-left: 0px;
			    @include media-breakpoint-down(md) { 
			    	margin-left: auto;
			    }
			}
	    }
	    .sidebar-right {
		    position: fixed;
		    top: 47%;
		    right: -27px;
		    transform: translateY(-47%);
		    display: inline-flex;
		    flex-shrink: 0;
		    align-items: center;
		    justify-content: center;
		    width: 60px;
		    height: 60px;
		    padding: 0;
		    border-radius: 50%;
		    z-index: 222;
		    visibility: hidden;
		    opacity: 0;
		    @include media-breakpoint-down(xxxl) {
		    	opacity: 1;
		    	visibility: visible;
		    }
		    i {
			    font-size: 18px;
			    position: relative;
			    left: -10px;
			}
		}
	}
}

body:not(.theme-full) .dash-main-content .middle-sidebar-header.sticky-header {position: fixed;}
body:not(.theme-full) .dash-main-content .middle-sidebar-bottom.header-padding {padding-top: 116px; }


.navigation {
    position: fixed;
    top: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 280px;
    height: 100vh;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-shadow: inset -1px 0 0 0 #e4e4e4;
    box-shadow: inset -1px 0 0 0 #e4e4e4;
    -webkit-transition: width 0.25s;
    -o-transition: width 0.25s;
    transition: width 0.25s;
    padding-top: 90px;
    z-index: 10;

    @include media-breakpoint-down(lg) {
        position: fixed;
        top:0;
        left:-280px;
        z-index: 1000;
        height: 100vh;
        padding-top: 0;
        transition: all 0.4s ease;
        &.nav-active {
            left:0;
        }
    }

    &.menu-active {
        width: 90px;
        .nav-content {width: 90px;}
        .nav-content ul li > a span {margin-left: 30px; }
        .nav-content ul li > a span.circle-count,
        .card,
        .nav-top a .logo-text,
        .nav-caption span {display: none !important;}
        .nav-caption {padding-left: 0 !important; padding-right: 0 !important; text-align: center;}
    }
    &.menu-current-color {
        background: linear-gradient(135deg,var(--theme-color),var(--theme-color-shade)) !important;
        .nav-top a .logo-text,
        .nav-content ul li:not(.logo) a i,
        .nav-content ul li:not(.logo) a span {color: #fff !important;}
        .nav-caption {color: #fff !important; opacity: 0.6;}
        .nav-content ul li > a.active {background:var(--theme-color-tint) !important; }
    }

    .nav-top {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 96px;
        @include media-breakpoint-down(md) {
            position: relative;
        }
        a {
            line-height: $nav-logo-height;
            width: $nav-width;
            text-align: left;
            padding-left: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 20px;
            white-space: nowrap;
            .logo-text {
                line-height:$nav-logo-height;
                transition: all 0.4s ease;
            }
        }
    }
    .nav-caption {
        margin-bottom: 10px;
        padding-left: 35px;
        white-space: nowrap;
        color: #808191;
        -webkit-transition: padding .25s;
        -o-transition: padding .25s;
        transition: padding .25s;
    }
    .nav-content {
        width: $nav-width;
        transition: all 0.2s ease;
        
        // background: var(--theme-color);
        @include media-breakpoint-down(md) {width: auto;}
        @include media-breakpoint-up(lg) {
            -webkit-border-radius:0 10px 10px 0;
            -moz-border-radius:0 10px 10px 0;
            border-radius:0 10px 10px 0;
        }
        ul {
            @include media-breakpoint-up(lg) {
                @include webkit-box();
                @include box-orient();
                
            }
            padding: 0;
            margin: 0;
           
            li.flex-lg-brackets {
                @include media-breakpoint-up(lg) {
                    -webkit-box-flex: 1;
                    -webkit-flex: 1;
                    -moz-box-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                }
            }
            li:not(.logo) {
                list-style-image: none;
                list-style-type: none;
                margin: $nav-menu-link-margin;
                @include media-breakpoint-down(md) {margin: 4px 15px;}
                
                a {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    padding:8px 18px;
                    white-space: nowrap;
                    position: relative;
                    line-height: 28px;
                    color: #888;
                    display: flex;
                    overflow: hidden;
                    transition: all 0.2s ease;
                    &.mega-menu {
                    	&:after {
						    color: #ddd;
						    content: "ïˆ©";
						    font-family: bootstrap-icons !important;
						    position: absolute;
						    font-size: 12px;
						    right: 17px;
						    top: calc(50% - 12px);
						}
                    }
                    span {
                        font-size: 17px; 
                        line-height: 28px;
                        color: $gray-700;
                        font-family: RajdhaniSemiBold;
                        transition: all 0.2s ease;
                        margin-right: auto;
                        padding-right: 10px;
                    }
                    i {
                        font-size:20px;
                        color: $gray-700;
                        top: 0px;
                        position: relative;
                    }
                    .circle-icon {
                        content: '';
                        display: block;
                        width: 7px;
                        height: 7px;
                        padding: 0;
                        @include border-radius(7px);
                        position: absolute;
                        top: 6px;
                        right: 13px;
                    }
                    .circle-count {
                        padding:1px 6px; 
                        @include border-radius(7px);
                        position: absolute;
                        top: 12px;
                        display: inline-block; 
                        color: #fff;
                        font-size: 12px; 
                        right: 13px;
                        line-height: 20px;
                    }
                }
                .sub-menu {
                	padding-left: 12px;
                	a {
                		font-weight: 500;
                    	line-height: 20px;
                    	font-family: RajdhaniMedium;
                	}
                }
            }
            li.brackets {
                @include box-flex();
            }
            li >a.active {
                background: transparent;
                span {color: $primary; }
                
                @include border-radius(5px);
                i {
                   color: $primary;
                }
            }
            li >a:hover {
                // span {color: var(--theme-color);}
            }
            li >a.active:hover {
                // span {color: #fff !important;}
            }
        }
    }
}

.scroll-bar {
    margin-left: 0px;
    overflow-y: scroll;
}

.app-header-search {
    display: block;
    padding: 0;
    background: #fff;
    border-bottom: 1px solid #FFF;
    position: fixed;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 8%);
    left: 0;
    top: -50%;
    right: 0;
    width: 100%;
    z-index: 1001;
    transition: 0.2s all ease-in-out;
    &.show {
        top: env(safe-area-inset-top);
        transition: 0.3s all;
    }
}


.app-header-search.show {
    top: env(safe-area-inset-top);
    transition: 0.3s all;
}






.right-scroll-bar {margin-left: 0px;overflow-y: scroll;   background: #fff; }
.right-scroll-bar::-webkit-scrollbar-track {background-color: transparent;}
.right-scroll-bar::-webkit-scrollbar {width: 2px;background-color: transparent;}
.right-scroll-bar::-webkit-scrollbar-thumb {background-color: #aaa;}

.scroll-bar {margin-left: 0px;overflow-y: scroll;    }
.scroll-bar::-webkit-scrollbar-track {background-color: #f0f0f0;}
.scroll-bar::-webkit-scrollbar {width: 2px;background-color: #F5F5F5;}
.scroll-bar::-webkit-scrollbar-thumb {background-color: #f4f4f4;}


